.navbar {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    img {
      width: 50%;
    }
  }

  &-menu {
    &-icon {
      position: relative;

      &:hover {
        cursor: pointer;
      }

      @media only screen and (min-width: $media-query-laptop) {
        display: none;
      }

      &-one,
      &-two,
      &-three {
        border-bottom: 0.2rem solid $color-black;
        width: 2rem;
        display: block;
        transition: $hover-transition;

        &:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }
    }

    &-list {
      position: absolute;
      right: 10%;
      top: 5%;
      z-index: 3;
      transition: all 0.3s;
      background-color: $color-white;
      border-radius: 1rem;
      box-shadow: $menu-box-shadow;
      width: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 2rem;
      font-size: $font-size-16;
      padding: 2rem 0;

      @media only screen and (min-width: $media-query-laptop) {
        visibility: visible;
        opacity: 1;
        position: relative;
        right: 0;
        top: 0;
        flex-direction: row;
        column-gap: 2rem;
        width: 100% !important;
        padding: 0;
        box-shadow: unset;
      }

      @media only screen and (min-width: $media-query-laptop) {
        column-gap: 4rem;
      }

      a {
        color: $color-text-secondary;
        transition: $hover-transition;

        &:hover {
          color: $color-green-primary;
        }
      }
    }
  }
}

.navbar-menu-icon-open {
  .navbar-menu-icon-one {
    transform: rotateZ(45deg);
    position: absolute;
    top: 50%;
  }

  .navbar-menu-icon-two {
    opacity: 0;
  }

  .navbar-menu-icon-three {
    transform: rotateZ(-45deg);
    position: absolute;
    top: 50%;
  }
}

.open-menu {
  visibility: visible;
  opacity: 1;
}

.close-menu {
  visibility: hidden;
  opacity: 0;

  @media only screen and (min-width: $media-query-laptop) {
    visibility: visible;
    opacity: 1;
  }
}
