.homepage-projects {
  padding: $section-padding;

  &-title {
    display: flex;

    h4 {
      @include heading-four;
      text-transform: uppercase;
      color: $color-text-primary;
      margin-bottom: 3rem;
    }

    h2 {
      @include heading-two;
      color: $color-text-primary;
      margin-bottom: 6.5rem;
    }
  }
}
