@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/glogalStyles";

@import "./scss/components/navbar";
@import "./scss/components/projectCard";
@import "./scss/components/volunteerSignUp";
@import "./scss/components/backdrop";
@import "./scss/components/modal";
@import "./scss/components/newsCards";
@import "./scss/components/newsCardsHeading";
@import "./scss/components/events";
@import "./scss/components/footer";
@import "./scss/components/awardBadges";

@import "./scss/pages/homepage/homePageHeader";
@import "./scss/pages/homepage/homePageAboutUs";
@import "./scss/pages/homepage/homePageWork";
@import "./scss/pages/homepage/homePageProjects";
@import "./scss/pages/homepage/homePageChart";

@import "./scss/pages/aboutpage/aboutPageHeader";
@import "./scss/pages/aboutpage/aboutPageAwards";
@import "./scss/pages/aboutpage/aboutPageTeam";

@import "./scss/pages/projectspage/projectsPageHeader";
@import "./scss/pages/projectspage/projectsPageWork";
@import "./scss/pages/projectspage/projectsPageProjects";

@import "./scss/pages/newspage/newsPageHeader";
@import "./scss/pages/newspage/newsPageNews";

@import "./scss/pages/contactpage/contactPageHeader";
@import "./scss/pages/contactpage/contactPageForm";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}
