@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/glogalStyles";

@import "./scss/components/navbar";
@import "./scss/components/projectCard";
@import "./scss/components/volunteerSignUp";
@import "./scss/components/backdrop";
@import "./scss/components/modal";
@import "./scss/components/newsCards";
@import "./scss/components/newsCardsHeading";
@import "./scss/components/events";
@import "./scss/components/footer";

@import "./scss/pages/homepage/homePageHeader";
@import "./scss/pages/homepage/homePageAboutUs";
@import "./scss/pages/homepage/homePageWork";
@import "./scss/pages/homepage/homePageProjects";
@import "./scss/pages/homepage/homePageChart";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}
