a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;

  @media only screen and (min-width: $media-query-desktop) {
    width: 100%;
    max-width: 128rem;
  }
}

.primary-btn {
  background-color: $color-green-primary;
  color: $color-white;
  font-size: $font-size-16;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  transition: $hover-transition;

  &:hover {
    background-color: $color-white;
    color: $color-green-primary;
  }
}

.secondary-btn {
  background-color: $color-white;
  color: $color-text-primary;
  font-size: $font-size-16;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;

  transition: $hover-transition;
  &:hover {
    background-color: $color-text-primary;
    color: $color-white;
  }
}

.navbar-btn {
  background-color: $color-text-primary;
  color: $color-white;
  font-size: $font-size-16;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  border: 0.1rem solid $color-white;
  transition: $hover-transition;

  &:hover {
    background-color: $color-white;
    color: $color-black;
    border: 0.1rem solid $color-black;
  }
}

.navbar-active-page {
  color: $color-black !important;
  font-weight: $font-weight-bold;
}

span.heading-line {
  width: 7rem;
  height: 0.2rem;
  display: none;
  background-color: $color-text-primary;
  margin-right: 2.4rem;
  margin-top: 1rem;

  @media only screen and (min-width: $media-query-tablet) {
    display: block;
  }
}
