@mixin home-heading {
  font-weight: $font-weight-bold;
  font-size: $font-size-28;

  @media only screen and (min-width: $media-query-tablet) {
    font-size: $font-size-48;
  }

  @media only screen and (min-width: $media-query-laptop) {
    font-size: $font-size-64;
  }
}

@mixin heading-one {
  font-weight: $font-weight-bold;
  font-size: $font-size-28;

  @media only screen and (min-width: $media-query-tablet) {
    font-size: $font-size-48;
  }

  @media only screen and (min-width: $media-query-laptop) {
    font-size: $font-size-56;
  }
}

@mixin heading-two {
  font-weight: $font-weight-bold;
  font-size: $font-size-20;

  @media only screen and (min-width: $media-query-tablet) {
    font-size: $font-size-28;
  }

  @media only screen and (min-width: $media-query-laptop) {
    font-size: $font-size-48;
  }
}

@mixin heading-three {
  font-weight: $font-weight-bold;
  font-size: $font-size-16;

  @media only screen and (min-width: $media-query-tablet) {
    font-size: $font-size-20;
  }

  @media only screen and (min-width: $media-query-laptop) {
    font-size: $font-size-28;
  }
}

@mixin heading-four {
  font-weight: $font-weight-bold;
  font-size: $font-size-12;

  @media only screen and (min-width: $media-query-tablet) {
    font-size: $font-size-16;
  }

  @media only screen and (min-width: $media-query-laptop) {
    font-size: $font-size-20;
  }
}

@mixin heading-five {
  font-weight: $font-weight-bold;
  font-size: $font-size-16;
}

@mixin heading-six {
  font-weight: $font-weight-bold;
  font-size: $font-size-14;
}

@mixin paragraph-normal {
  font-weight: $font-weight-normal;
  font-size: $font-size-12;
  line-height: 2.5rem;

  @media only screen and (min-width: $media-query-tablet) {
    font-size: $font-size-14;
  }

  @media only screen and (min-width: $media-query-laptop) {
    font-size: $font-size-16;
  }
}

@mixin paragraph-small {
  font-weight: $font-weight-normal;
  font-size: $font-size-14;
  line-height: 2.2rem;
}
