$color-green-primary: #70c174;
$color-green-secondary: #bef3c0;
$color-green-tertiary: #eff7f2;
$color-black: #0b0706;
$color-text-primary: #1d2130;
$color-text-secondary: #525560;
$color-whte: #fff;
$color-white-off: #ebf0f9;
$color-border: #e5e5e5;

$font-size-64: 6.4rem;
$font-size-56: 5.6rem;
$font-size-48: 4.8rem;
$font-size-28: 2.8rem;
$font-size-20: 2rem;
$font-size-16: 1.6rem;
$font-size-14: 1.4rem;
$font-size-12: 1.2rem;

$font-weight-bold: bold;
$font-weight-normal: normal;

$media-query-mobile-large: 425px;
$media-query-tablet: 786px;
$media-query-laptop: 1024px;
$media-query-desktop: 1440px;
