.donationpage-header {
  padding: $section-padding;
  background-color: $color-green-tertiary;

  &-wrapper {
    @media only screen and (min-width: $media-query-tablet) {
      display: flex;
      gap: 9rem;
    }
  }

  &-title {
    margin-bottom: 5rem;

    @media only screen and (min-width: $media-query-tablet) {
      display: flex;
    }

    h5 {
      font-size: $font-size-16;
      font-weight: $font-weight-bold;
      letter-spacing: 0.2rem;
      color: $color-text-primary;
      text-transform: uppercase;
      margin-bottom: 3rem;
    }

    h1 {
      @include heading-one;
      color: $color-text-primary;
      margin-bottom: 1.5rem;
    }

    p {
      @include paragraph-normal;
      color: $color-text-secondary;
      margin-bottom: 3rem;
    }

    .submit {
      border: none;
    }
  }

  &-image {
    img {
      width: 100%;

      @media only screen and (min-width: $media-query-desktop) {
        width: 100%;
        min-width: 48rem;
        height: 100%;
        min-height: 38rem;
      }
    }
  }
}
